main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    box-shadow: var(--shadow-2);
}
.card {
    background: var(--surface-3);
    border: 1px solid var(--surface-1);
    padding: var(--size-4);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-2);
    margin: 1%;
}
.card > h5 {
    line-height: var(--font-lineheight-1);
}
.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1100px; /*1400px default*/
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px 10px;
   /*  background-color: #fff; */
}
.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: var(--shadow-2);
}
.gallery::after {
    content: "";
    width: 350px;
}